:root {
  --dark: #001318;
  --dark-blue: #2B3D54;
  --blue-green: #2C5B61;
  --dark-green: #08542E;
  --green: #60A65F;
  --bright-green: #08A054;
  --light: #eeefff;
}
body {
  background-color: var(--light);
  box-sizing: border-box;
  color: var(--dark);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.text-center {
  text-align: center;
}